*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 1em;
    border: 1px solid black;
}

main{
    padding: 2em;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 2em;
}

.row{
    display: flex;
}

.columna{
    flex-wrap: wrap;
    gap: 1em;
    width: calc(50% - 2em);
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
}

article{
    margin: 2em;
}

button{
    padding: 0.5em;
    cursor: pointer;
}

.btn-azul:hover{
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.btn-verde:hover{
    background-color: green;
    color: white;
    border: 1px solid white;
}

.btn-amarillo:hover{
    background-color: yellow;
    color: white;
    border: 1px solid white;
}


.fondo-azul{
    background-color: blue;
    color: white;
}


.fondo-verde{
    background-color: green;
    color: white;
}

.fondo-amarillo{
    background-color: yellow;
    color: white;
}

.fondo-restablecido{
    background-color: white;
}

/*
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 1em;
    border: 1px solid black;
}

main{
    padding: 2em;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 2em;
}

.row{
    display: flex;
}

.columna{
    flex-wrap: wrap;
    gap: 1em;
    width: calc(50% - 2em);
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    
}

article{
    margin: 2em;
}

button{
    padding: 0.5em;
    cursor: pointer;
}

#colores{
    width: 40%;
}

.fondo-azul{
    background-color: blue;
    color: white;
}

.fondo-verde{
    background-color: green;
    color: white;
}

.fondo-amarillo{
    background-color: yellow;
    color: white;
}

.fondo-restablecido{
    background-color: white;
}*/