* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font: white;
}

.botonera {
    border: solid 1px white;
}

.botonera li{
    list-style-type: none;
}

.botonera li a{
    text-decoration: none;
}

.botonera li a p{
    color:white;
}

.hoverUnderline {
    display: inline-block;
    position: relative; 
}
  
  .hoverUnderline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1vh;
    bottom: 0.9vh;
    left: 0;
    background-color: rgb(229, 255, 0);
    transform-origin: bottom initial;
    transition: transform 0.25s ease-out;
    opacity: 50%; 
}
  
  .hoverUnderline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom end; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.3rem;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 5rem 0;
}

#lista {
    padding: 1.5rem;
    list-style: lower-alpha;
}

.fondo {
    background-color: #C8FAE6;
}

.lista {
    list-style: none;
}

.lista__items {
    text-align: center;
    background-color: #C8FAE6;
    margin: .3rem;
    padding: .5rem;
}

.lista__enlaces {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
}
